@import "./mask.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Glow Animation */
@keyframes gradientGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.glow-overlay {
  position: absolute;
  inset: 0; /* Full coverage */
  z-index: 15; /* Sits behind the black panel (z-index: 30) */
  background: linear-gradient(
    120deg,
    rgba(7, 7, 7, 0.3),
    rgba(0, 0, 0, 0),
    rgba(7, 7, 7, 0.3)
  );
  background-size: 400% 400%; /* Larger for smooth animation */
  animation: gradientGlow 8s ease infinite; /* Smooth glow effect */
  filter: blur(50px); /* Soft glow */
  pointer-events: none; /* Prevent interactions */
}

@font-face {
  font-family: "Aileron";
  src: url("./assets/fonts/Aileron-Light.otf") format("opentype");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "Aileron";
  src: url("./assets/fonts/Aileron-Regular.otf") format("opentype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Aileron";
  src: url("./assets/fonts/Aileron-Bold.otf") format("opentype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Aileron";
  src: url("./assets/fonts/Aileron-Black.otf") format("opentype");
  font-weight: 900; /* Black */
  font-style: normal;
}
